#left-main.well
  #transcript{ data: { email: "#{env['warden'].user.email}" } }
    - @messages.each do |message|
      %dl
        %dt #{message.user.display_name} @ #{message.tag.name}
        %dd= message.final_message

  #chat
    %form
      %input#outgoing.xlarge{ type: 'textarea' }
      %input.btn.primary{ type: 'submit' }

#sidebar
  %form#new-tag.well{ action: "/tags", method: "post" }
    %input.small{ type: 'text', name: 'tag[name]' }
    %input.btn.primary{ type: 'submit', value: "Create Tag" }

  #tags.well
    %h3 Tags
    %ul#tags.pills
      - Tag.all.each do |tag|
        %li
          %a{ href: "#" }= tag.name

  #roster.well
    %h3 Roster
    %ul.unstyled
