<div class="github-bot">
  <p class="commit-message">
    <a href="<%= repository.owner_path %>"><%= repository.owner_login %></a>
    /
    <a href="<%= repository.url %>"><%= repository.name %></a>
    <br />
    <%= commit.message %>
  </p>
  <div class="commit-meta">
    <span class="sha-block">
      commit
      <span class="sha">
        <a href="<%= commit.url %>"><%= commit.sha %></a>
      </span>
    </span>
    <div class="authorship">
      <img src="<%= commit.author_gravatar_url %>" width="24" height="24" />
      <span class="author-name">
        <%- if commit.authored_by_github_user? %>
          <a href="<%= commit.author_profile_path %>"><%= commit.author_name %></a>
        <%- else %>
          <%= commit.author_name %>
        <%- end %>
      </span>
      authored
    </div>
  </div>
</div>
