<div class="github-bot">
  <p class="commit-message">
    <a href="<%= repository.owner_path %>"><%= repository.owner_login %></a>
    /
    <a href="<%= repository.url %>"><%= repository.name %></a>
    <br />
    <%= commit.message %>
  </p>
  <div class="commit-meta">
    <span class="sha-block">
      commit
      <span class="sha">
        <a href="<%= commit.url %>"><%= commit.sha %></a>
      </span>
    </span>
    <div class="authorship">
      <img src="<%= author.gravatar_url %>" width="24" height="24" />
      <span class="author-name">
        <%- if author.is_github_user? %>
          <a href="<%= author.profile_path %>"><%= author.name %></a>
        <%- else %>
          <%= author.name %>
        <%- end %>
      </span>
      authored
    </div>
  </div>
</div>
